[submodule "backend"]
	path = backend
	url = https://github.com/otaviocostao/qrcode-gen-spring.git
[submodule "frontend"]
	path = frontend
	url = https://github.com/otaviocostao/qr-code-gen-front.git
